.app {
  display: flex;
  justify-content: center;
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
}

.result {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
}

.numbers {
  display: flex;
  width: 100%;
  text-align: center;
}

.number {
  border: 1px solid black;
  flex-basis: calc(100% / 4);
  padding: 5px;
  box-sizing: border-box;
}

.zero {
  border: 1px solid black;
  flex-basis: calc(100% / 2);
  padding: 5px;
  box-sizing: border-box;
}
